@media (min-width: 576px) {
    .card-group.card-group-scroll {
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}

.card-group.card-group-scroll>.card {
    flex-basis: 35%;
}

.smaller-card-group {
    max-width: 80vw;
    max-height: 12vw;
    margin: 0 auto;
}

.card-body {
    padding-bottom: 0;
}

rect {
    pointer-events: all;
    fill-opacity: 0;
    stroke-opacity: 0;
    z-index: 1;
}

.tooltip {
    position: absolute;
    padding: 5px;
    background-color: rgb(11, 40, 65);
    color: white;
    border: 0px solid white;
    border-radius: 0px;
    display: none;
    opacity: .75;
    font-size: 14px;
}

.tooltip-line {
    stroke-opacity: 0.5;
}